<div class="container">
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src={{gaia}} class="d-block w-100" alt="gaia">
      </div>
      <div class="carousel-item">
        <img src={{scythe}} class="d-block w-100" alt="scythe">
      </div>
      <div class="carousel-item">
        <img src={{dune}} class="d-block w-100" alt="dune">
      </div>
      <div class="carousel-item">
        <img src={{clank}} class="d-block w-100" alt="clank">
      </div>
      <div class="carousel-item">
        <img src={{star_realms}} class="d-block w-100" alt="clank">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>